.suggestion-btn {
  width: 70%;
  margin: auto;
  background: #667eea;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s;
  font-weight: bold;
   border: 2px solid transparent;
}

.suggestion-btn:hover {
  transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  background-color: white;
  color: #667eea;
  border-color: #667eea;
   outline: none;
}
