.navbar-custom {
  width: 100%;
  margin: 0;
  padding: 0;
   background: transparent;
}

.navbar-nav ul {
  display: flex; 
  flex-direction: row; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navbar-nav li {
  margin-right: 50px;
}

.navbar-nav a {
  text-align: center;
  font-size: 22px; 
  font-weight: bolder;
  color: #fa8fb3;
  text-decoration: none; 
}

.navbar-nav a:hover {
  color: antiquewhite;
}


.navbar-toggler {
  border-color: #fa8fb3; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fa8fb3' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover {
  background-color: rgba(250, 143, 179, 0.1);
  border-color: #fa8fb3;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(182, 135, 243, 0);
  border-color: #fa8fb3;
}
/* Responsive */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: center;
    gap: 15px;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }
}